# Ignore the cloned reference repository
VideoRAG/
VEA_algo/modules/checkpoints/
VEA_algo/dataset/


# Python environment & cache
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# Data & Models (Nên bỏ qua vì dung lượng lớn)
*.mp4
*.mkv
models/
output/